@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.5;
    color: #ebe7ef;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    background-color: black;
}
/*--- Header ---*/
.headerColor {
    color: #fff !important;
}
.headerColor:active {
    color: #ffbd39 !important;
}
.headerColor {
    display: inline-block;
    position: relative;
}

.headerColor::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 8px;
    background-color: #ffbd39;
    transition: transform 0.25s ease-out;
}

.headerColor:hover::after {
    transform: scaleX(1);
}

.headerColor.center::after {
    transform-origin: bottom center;
}

.headerColor.center:hover::after {
    transform-origin: bottom center;
}
.customMar {
    margin-left: 50px;
}